numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors

numba==0.61.2

onnxruntime
pyparsing
importlib_metadata

matplotlib
tqdm
xformers
faiss-gpu-cu11
pandas
evo==1.14.0

pandas
prettytable
pytorch-lightning
pytorch-metric-learning
torchmetrics

pypose